.newsletter {
  background: #132b09;
  color: white;
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 200px;
  border-radius: 22px;
  position: absolute;
  top: -230px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.newsletter h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.newsletter .ppblog {
  margin-bottom: 20px;
  opacity: 0.9;
  font-family: "Lato";
  font-size: 17px;
  color: #e1f340;
}

.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter input {
  padding: 12px;
  width: 280px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.newsletter button {
  padding: 12px 20px;
  background: white;
  color: #132b09;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.newsletter button:hover {
  background: #e1f340;
}

.message {
  display: block;
  margin-top: 15px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 500px) {
  .newsletter{
    padding: 20px;
  }
}
