.editorPage{
min-height:100vh;
display:flex;
justify-content:center;

padding: 120px 40px;
}

.editorCard{
width:900px;
background:rgba(188, 187, 187, 0.562);
padding:40px;
border-radius:15px;
box-shadow:0 10px 40px rgba(0,0,0,0.1);
border: 2px solid white;
}

.editorCard .h2{
margin-bottom:20px;
/* color:#2e7d32; */
}
.formblog{
display:flex;
flex-direction:column;
gap:15px;
}

input.inputblog , select.selectblog{
padding:12px;
border-radius:8px;
border:1px solid #ddd;
outline: none;
}


.imagePreview{
width:100%;
border-radius:10px;
margin-top:10px;
}

.publishBtn{
padding:14px;
background:#2e7d32c6;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
font-weight: 500;
border: 1px solid white ;
}

.publishBtn:hover{
background:#1b5e20;
}

.readingTime{
font-size:14px;
/* color:#777; */
}