.blogs-page {
  max-width: 1200px;
  margin: auto;
  padding: 90px 20px;
}

.page-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.blog-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.blog-card:hover {
  transform: translateY(-6px);
}

.blog-img {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.blog-content {
  padding: 20px;
  box-sizing: border-box;
}

.blog-category {
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.blog-category:hover {
  color: #06651a;
}
.blog-content .cardhead {
  font-size: 20px;
  margin: 10px 0;
  color: rgb(0, 47, 0);
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.blog-content .pcontent {
  min-width: 100px;
  font-size: 14px;
  color: rgb(85, 88, 85);
  line-height: 1.6;
  font-weight: 400;

  font-family: "Lato", sans-serif;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.blog-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentS {
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.read-btn {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  text-decoration: none;
  color: #06651a;
  font-family: "Lato", sans-serif;
}

.read-btn:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .page-title {
    font-size: 28px;
  }
}
